.signin-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .signin-heading {
    text-align: center;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-form label {
    margin-bottom: 5px;
  }
  
  .signin-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signin-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin-btn:hover {
    background-color: #0056b3;
  }
  